*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    background-color: rgb(53, 53, 53);
    padding: 50px 30px;
    width: 300px;
    height: 400px;
    border-radius: 10px;
}
h1{
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
    margin-left: 70px;
}
input{
    display: flex;
    width: 100%;
    padding: 10px;
    border: 2px solid crimson;
    border-radius: 20px;
    background-color: rgb(53, 53, 53);
    margin-top: 25px;
    color: white;
    text-align: center;
}

input[type = "submit"]{
    background-color: crimson;
    color: white;
    margin-top: 30px;
    font-weight: 900;
    text-align: center;
}
.error{
    color: red;
    margin: 10px 15px;
}
